.loginForm{
    /* display: block; */
    flex-direction: row;
    justify-content: 'center';
    align-items: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: 200px;
}

.loginLeft {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
}

.loginRight {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.error-message {
    color: #f14d54;
  } 

  .loginBtn{
    margin-top: 20px;
  }
  
  .divider{
    width: 80%;
    height:0.25px;
    background-color:black;
  }

  